<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list *ngIf="showLogin">

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" ></ion-input>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="!showLogin">

  <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" ></ion-input>
    </ion-item>

  </ion-list>


  
  <div padding>
    <button block ion-button type="submit" (click)="doLogin()" class="disable-hover button button-ios button-default button-default-ios button-block button-block-ios">Sign In</button>
    <button block ion-button type="submit" (click)="doRegister()" class="disable-hover button button-ios button-default button-default-ios button-block button-block-ios">Register</button>
  </div>
  
  <div padding>
    <div class="text-center">
     <ion-row>
       <ion-col col-12 class="mob-down">
        <a class="loyalbonus_img" (click)="onFacebookLoginClick()" >
          <i class="ion-social-facebook icon"></i>  LOGIN WITH FACEBOOK  
        </a>
        </ion-col> 
       <!--  <ion-col col-12 class="mob-down">
         <a class="loyalbonus_img" (click)="onFacebookLogoutClick()" >
          <i class="ion-social-facebook icon"></i>  LOGOUT  
        </a> 
        </ion-col> -->
        <ion-col col-12 class="mob-down">
          <a class="loyalbonus_img" (click)= "login()">
          <i class="ion-social-facebook icon"></i>  LOGIN WITH GOOGLE  </a>  

          </ion-col>
        </ion-row> 
        
      </div> 
    </div>   
  </ion-content>


  
