.swiper-slide{
  height: 66%;
}
ion-slides{
  height: auto
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: 2%;
    background-color: rgba(255, 54, 54, 0.2);
    padding: 10px;
}
.loyalbonus_img {
    color: #fff;
    background-color: #617AAC;
    padding: 12px 25px;
    width: 100%;
    float:left;
    margin: 10px 0;
}
.mob-down{padding:0;}
.text-center{
	text-align: center;
}